Django
djangorestframework  # Eğer API kullanıyorsanız
psycopg2-binary  # PostgreSQL kullanıyorsanız
gunicorn  # Prodüksiyon ortamı için
whitenoise  # Statik dosya yönetimi için
django-environ  # Ortam değişkenleri için
requests
django-redis
Pillow
